[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
tabulate = "*"

[dev-packages]
pytest = "*"
dnd = {editable = true, path = "./../lib"}

[requires]
python_version = "3.10"
